/* This fils contains my custom styles added to this project
   primarily involving changing the fonts and converting to 
   a blue color scheme.  */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
}

a {
    color: #CD5700;
}

header {
    background: #16425B;
}

.header--logo, .course--title {
    font-family: 'Noto Serif', serif;
}

header nav a {
    color: #81C3D7; 
}

.course--module {
    background: #2F6690;
    box-shadow: 3px 3px 7px #494949;
}

.course--add--module {
    background: #81C3D7;
    color: #235476;
    box-shadow: none;
    box-shadow: 3px 3px 7px #919191;
}

.course--add--title .add {
    fill: #235476;
}

.course--name {
    color: #235476;
}

.actions--bar {
    background: #F0EAD5;
}

.validation--errors {
    background: #F0EAD5;
}

input, textarea {
    color: #16425B;
    border-color: #3A7CA5;
}

.button {
    background: #2F6690;
}
.button:not(.button-secondary):hover {
    background: #3A7CA5
}

.button-secondary {
    color: #5EA0BE;
    background: none;
    box-shadow: 0 0 0 2px #5EA0BE inset;
}

.button-secondary:hover {
    color: #2F6690;
    box-shadow: 0 0 0 2px #2F6690 inset;
}

input:focus, button:focus, .button:focus, textarea:focus {
    outline: 2px solid #16425B;
}

.actions--bar .button {
    white-space: nowrap;
}